* {
    box-sizing: border-box;
}
body {
    font-family: Roboto;
}
.container {
    background-image: url("../img/background.png");
    background-size: cover; /*?????*/
    background-repeat: no-repeat;
}

.wrapper {
    max-width: 1366px;
    margin: 0 auto;
    padding: 50px 0 15px;
    min-height: 100vh;
    display: flex;
    flex-direction: column;
}
header {
    display: flex;
    justify-content: space-between;
}
.milan-logo {
    display: flex;
    text-decoration: none;
    text-transform: uppercase;
    color: white;
    margin: 0;
    padding: 0;
    transition: 0.5s ;
    position: relative;
}

.milan-logo:hover {
    color: #F26522;
    transition: 0.5s;
}
.logo-icon {
    position: absolute;
    top: 50%;
    left: 0;
    transform: translate(0, -50%);
    transition: 0.5s;
}
.logo-icon-orange {
    opacity: 0;
    position: absolute;
    top: 50%;
    left: 0;
    transform: translate(0, -50%);
    transition: 0.5s;
}

.milan-logo:hover .logo-icon {
    opacity: 0;
}

.milan-logo:hover .logo-icon-orange {
    opacity: 1;
    transition: 0.5s;
}

.logo-text-wrapper {
    display: flex;
    flex-direction: column;
    margin: 0;
    padding: 0 0 0 61px ;
}

.logo-text-wrapper p {
    margin: 0;
    padding: 0 0 0 8px;
}
.logo-text-1 {
    font-weight: 700;
    font-size: 29px;
    /*font-family: "Roboto";*/
}
.logo-text-2 {
    font-weight: 700;
    font-size: 18px;
}
.contacts {
    display: flex;
    flex-direction: column;
    gap: 20px;
    align-items: flex-end;
}
.contacts a {
    text-decoration: none;
    color: white;
    font-weight: 400;
    font-size: 18px;
    transition: 0.5s;
}
.contacts a:hover{
    color: #F26522;
    transition: 0.5s;
}

main {
    width: 100%;
    display: grid;
    grid-template-columns: repeat(3,1fr);
    grid-template-rows: repeat(2,1fr);
    grid-column-gap: 60px;
    grid-row-gap: 40px;
    padding: 25px 0 0 0;
}

.holidays>p {
    margin: 0;
    padding: 20px 0 0 0;
    color: white;
    font-weight: 400;
    font-size: 18px;
    text-align: center;
}

.holidays-image img {
    min-width: 100%;
}
footer {
    margin-top: auto;
    display: flex;
    justify-content: center;
}
.copyright {
    /*margin: 0 auto;*/
    padding: 85px 0 0 0;
    font-weight: 400;
    font-size: 12px;
    color: white;
}
.holidays-image {
    position: relative;
    overflow: hidden;

}
.holidays-info {
    height: 55px;
    width: 100%;
    background-color: #F26522;
    position: absolute;
    bottom: 0;
    left: 0;
    transform: translate(0,200px);
    transition: 0.5s;
    transition-timing-function: ease;
}

.holidays:hover .holidays-info {
    transform: translate(0,0);
    transition: 0.5s;
    transition-timing-function: ease;
}

.holidays p {
    color: white;
    transition: 0.5s;
    transition-timing-function: ease;
}
.holidays:hover>p {
    color: #F26522;
    transition: 0.5s;
    transition-timing-function: ease;
}

.holidays-info-link {
    text-decoration: none;
    display: flex;
    justify-content: space-between;
    align-items: flex-end;
    padding: 7px 40px 12px 15px;
}
.details:after {
    content:"";
    border-right: 1px solid white;
    border-top: 1px solid white;
    width: 5px;
    height: 5px;
    position: absolute;
    right: 15px;
    bottom: 10px;
    transform: rotate(45deg);
}
.price {
    color: white;
    font-weight: 400;
    font-size: 20px;
    margin: 0;
}

.details {
    color: white;
    font-weight: 400;
    font-size: 14px;
    margin: 0;
    padding: 0;
}
.from {
    color: white;
    font-weight: 400;
    font-size: 10px;
    margin: 0;
    padding: 0;
}
.price-description {
    display: flex;
    flex-direction: column;
    row-gap: 8px;
    /*padding: 7px 40px 0 15px;*/
    margin: 0;
    height: 100%;
}

