/*====== HEADER ======*/
body {
    padding: 65px 100px 40px;
}

* {
    box-sizing: border-box;
}
.container  {
    display: flex;
    flex-direction: column;
    align-items: flex-start;
    margin: 0 auto;
    width: 1280px;

}

header {
    width: 100%;
}
.logo-wrapper {
    display: flex;
    justify-content: flex-start;
    align-items: center;
    height: 80px;
    margin-bottom: 40px;
    width: 100%;
}
.logo {
    font-size: 80px;
    font-weight: 400;
    line-height: 95px;
    text-decoration: none;
    color: #4BCAFF;
}

.logo span {
    color: #000000;
}

header li {
    display: flex;
    align-items: center;
    list-style: none;
    height: 100%;
    border-left: 1px solid #ffffff;
    border-right: 1px solid #ffffff;
}
.navigation-bar {
    display: flex;
    align-items: center;
    background-color: #35444F;
    width: 100%;
    height: 70px;
    justify-content: center;
    margin: 0 auto 50px;
    padding: 0;
}

.navigation-link {
    display: flex;
    align-items: center;
    color: #FFFFFF;
    text-decoration: none;
    font-size: 28px;
    line-height: 1;
    font-weight: 400;
    height: 100%;
    padding: 0 30px;
    transition: 0.5s;
}

.navigation-link:hover {
    background-color: #222F3A;
    transition: 0.5s;
}
/*======== HEADER END ========*/

main   {
    width: 100%;
}
.content    {
    display: flex;
    width: 100%;
}
/*===== SIDEBAR ====== */
.sidebar {
    display: flex;
    flex-direction: column;
    justify-content: center;
    flex-shrink: 0;
    width: 345px;
    height: 400px;
    border: 1px solid #000000;
}
.sidebar-nav {
    list-style-type: none;
    padding: 0;
}

.sidebar-nav li {
    display: flex;
    flex-direction: column;
    justify-content: center;
    height: 80px;

}
.sidebar-link {
    display: flex;
    align-items: center;
    font-size: 27px;
    font-weight: 400;
    line-height: 1;
    color: #495863;
    text-decoration: none;
    height: 100%;
    padding-left: 40px;
    transition: 0.5s;

}
.sidebar-link:hover {
    background-color: #dbdbdb;
    padding-left: 75px;
    transition: 0.5s;
}
/*======= SIDEBAR END =======*/

/*======= ABOUT RAMDA ======= */
.about-ramda {
    margin-left: 50px;
}
.img-background {
    display: flex;
    align-items: center;
    justify-content: center;
    height: 530px;
    border: 1px solid #000000;
}
.img-wrapper {
    width: 320px;
    height: 380px;
}

.about-ramda-img {
    width: 100%;
    transition: 0.5s;
}

.about-ramda-img:hover {
    transform: scale(1.1);
    transition: 0.5s;
}
.text-wrapper {
    width: 100%;
    font-size: 18px;
    font-weight: 400;
    line-height: 24px;
    text-align: justify;
}

/*======== FOOTER ========*/
footer {
    width: 100%;
}
.footer-wrapper {
    display: flex;
    justify-content: space-between;
    align-items: center;
    width: 100%;
    background-color: rgba(99, 105, 110, 0.48);
    padding: 0 40px;
    margin-top: 50px;
}
footer li {
    list-style: none;
    padding: 0 20px;
}

.footer-nav {
    display: flex;
    align-items: center;
    justify-content: center;
    padding: 0;
}
.footer-navbar-link {
    display: flex;
    align-items: center;
    text-decoration: none;
    font-size: 28px;
    line-height: 1;
    font-weight: 400;
    color: #000000;
    transition: 0.5s;
}

.footer-navbar-link:hover {
    border-bottom: 1px solid #3181A6;
    padding: 0 0 10px 0;
    color: #3181A6;
    transition: 0.5s;
}

.copyright {
    font-size: 24px;
    line-height: 1;
    font-weight: 400;
    color: #000000;
}
