* {
    box-sizing: border-box;
}
body {
    background-color: black;
}

h2  {
    font-size: 50px;
    font-weight: 700;
    line-height: 28px;
    color: white;
}
p {
    font-size: 20px;
    font-weight: 700;
    line-height: 28px;
    color: white;
}
.wrapper {
    /*width: 100%;*/
    max-width: 1460px;
    margin: 0 auto;
    /*padding: 100px;*/
}

.first-background .wrapper, .second-background .wrapper {
    padding: 100px 0;
}

header {
    padding: 20px 0;
}
.first-background {
    width: 100vw;
    height: 100vh;
    background-image: url("../img/header-bg.jpeg");
    background-repeat: no-repeat;
    background-attachment: fixed;
    background-size: cover;
}

.second-background {
    width: 100vw;
    background-image: url("../img/parallax-bg.jpeg");
    background-repeat: no-repeat;
    background-attachment: fixed;
    background-size: cover;
}
header {
    display: flex;
    justify-content: space-between;
    align-items: center;
    width: 100%;
    /*padding-top: 50px;*/
    /*margin-bottom: 130px;*/
}

.contact-wrapper {
    display: flex;
}
.phone-number {
    display: flex;
    align-items: center;
}
.yellow-text {
    color: #E4B564;
}

.text {
    color: white;
    font-size: 20px;
}

.btn {
    display: flex;
    align-items: center;
    justify-content: space-between;
    padding: 10px 25px;
    border: 1px solid #E4B564;
    height: 50px;
    margin-left: 40px;
    text-decoration: none;
    background-color: #000000;
}
.btn-text {
    text-decoration: none;
    color: #E4B564;
    font-size: 18px;
    /*padding-left: 10px;*/
}

.btn img {
    padding-right: 10px;
}
.external-heating-networks p {
    max-width: 1200px;
}
.external-heating-networks-grid {
    display: grid;
    grid-template-rows: repeat(2,467px);
    grid-row-gap: 35px;
}

.excavation-underground-channel-grid {
    display: grid;
    grid-template-columns: repeat(3, 1fr);
    grid-column-gap: 35px;
}
.installation-wells-grid {
    display: grid;
    grid-template-columns: repeat(2, 1fr);
    grid-column-gap: 35px;
}
.excavation, .underground-piping, .channel-arrangement, .installation, .concrete-wells, .euroinvest, .mavis, .arsenal, .setigroup {
    display: flex;
    align-items: center;
    justify-content: center;
    background-color: #634F2C;
}
.underground-piping {
    background-color: #B4A385;
}

.excavation-underground-channel-grid p {
    max-width: 380px;
    text-align: center;
}

.channel-arrangement {
    background-color: #E4B564;
}
.installation {
    background-color: #635A4A;
}
.concrete-wells {
    background-color: #B08C4D;
}
.external-heating-networks-grid p {
    font-size: 20px;
    line-height: 28px;
    color: white;
}
.own-fleet-of-construction-equipment {
    margin: 150px 0;
}
.own-fleet-of-construction-equipment-grid {
    display: grid;
    gap: 35px;
    width: 100%;
    grid-template-columns: 1fr 1fr 1fr;
    margin: 100px 0;
}
.own-fleet-of-construction-equipment-grid p {
    line-height: 25px;
    margin: 0;
}

.suction-machine-and-loader {
    display: flex;
    flex-direction: column;
    gap: 25px;
}

.sewer-washing-machine-and-excavator {
    display: flex;
    flex-direction: column;
    gap: 25px;
}

.backhoe-loader-truck-roller {
    display: flex;
    flex-direction: column;
    gap: 25px;
}

.suction-machine {
    height: 315px;
    background-color: #0E0E0E;
    padding: 50px;
}

.loader {
    height: 560px;
    background-color: #1F1F1F;
    padding: 50px;
}
.sewer-washing-machine {
    height: 440px;
    background-color: #242424;
    padding: 50px;
}
.excavator {
    height: 405px;
    background-color: #E4B564;
    padding: 50px;
}
.backhoe-loader {
    height: 255px;
    background-color: #1F1F1F;
    padding: 50px;
}

.truck {
    height: 315px;
    background-color: #0E0E0E;
    padding: 50px;
}
.roller {
    height: 280px;
    background-color: #0A0909;
    padding: 50px;
}
.clients-and-projects-header-wrapper {
    display: flex;
    align-items: center;
    justify-content: space-between;
}
.clients-and-projects {
    margin: 150px 0;
}
.clients-and-projects-grid {
    /*margin: 100px 0;*/
    display: grid;
    grid-template-columns: repeat(3, 1fr);
    grid-template-rows: repeat(2, 391px);
}
.euroinvest {
    background-color: #634F2C;
}

.mavis {
    background-color: rgba(232, 210, 171, 0.76);
    flex-direction: column;
}
.logo-description {
    width: 325px;
    text-align: center;
    margin-top: 15px;
}
.arsenal {
    background-color: #E4B564;
}

.dark {
    background-color: #635A4A;
}
.setigroup {
    background-color: #B08C4D;
}

