* {
    box-sizing: border-box;
    font-family: "Ubuntu";
}
.container {
    background-image: url("../img/background.png");
    background-size: cover;
    width: 100%;
    height: 100vh;
}
header {
    height: 60px;
    width: 100%;
    background-color: rgba(0, 0, 0, 0.4);
}

.header-wrapper {
    max-width: 1366px;
    height: 100%;
    display: flex;
    justify-content: space-between;
    align-items: center;
    margin: 0 auto;
}
.logo {
    text-decoration: none;
    text-transform: uppercase;
    color: white;
    font-weight: 700;
    font-size: 22px;
    transition: 0.5s;
}
.logo:hover {
    color: rgba(60, 184, 120, 1);
    transition: 0.5s;
}
.menu-sign-up {
    height: 100%;
    display: flex;
    align-items: center;
}
.menu {
    padding: 0 13px 0 0;
    height: 19px;
    border-right: 1px solid rgba(255, 255, 255, 0.9);
    display: flex;
    align-items: center;
}
.calendar-icon {
    width: 21px;
    height: 24px;
    fill: white;
    margin: 0 12px;
    transition: 0.5s;
}
.calendar-icon:hover {
    fill: rgba(60, 184, 120, 1);
    transition: 0.5s;
}

.email-icon {
    width: 23px;
    height: 23px;
    fill: white;
    margin: 0 12px;
    transition: 0.5s;
}
.email-icon:hover {
    fill: rgba(60, 184, 120, 1);
    transition: 0.5s;
}
.navigation-icon {
    width: 23px;
    height: 23.5px;
    fill: white;
    margin: 0 12px;
    transition: 0.5s;
}

.navigation-icon:hover {
    fill: rgba(60, 184, 120, 1);
    transition: 0.5s;
}
.sign-up{
    margin-left: 27px;
}
.sign-up-link {
    text-decoration: none;
    font-weight: 400;
    font-size: 14px;
    color: rgba(255, 255, 255, 1);
    transition: 0.5s;
}

.sign-up-link:hover {
    color: rgba(60, 184, 120, 1);
    transition: 0.5s;
}
.sign-up span {
    font-weight: 400;
    font-size: 14px;
    color: rgba(255, 255, 255, 1);
}
main {
    display: flex;
    align-items: center;
    justify-content: center;
    height: calc(100% - 60px);
}
.sign-up-form {
    display: flex;
    align-items: center;
    justify-content: center;
    max-width: 445px;
    background-color: white;
    margin: 0 auto;
    padding: 30px 60px 40px;
    position: relative;
}

.green-square {
    width: 18px;
    height: 18px;
    background-color: #3CB878;
    position: absolute;
    top: 29px;
    left: 0;
}
.sign-up-form-wrapper {
    width: 325px;
    /*margin: 30px 60px 40px;*/
}

.h3-wrapper {
    width: 100%;
    margin: 0 0 15px 0;
    padding: 0;
    display: flex;
    justify-content: space-between;
}

.h3-wrapper>h3 {
    padding: 0;
    margin: 0;
    font-weight: 400;
    font-size: 20px;
}

.log-in-link {
    font-weight: 400;
    font-size: 14px;
    color: rgba(60, 184, 120, 1);
    transition: 0.5s;
}
.log-in-link:hover {
    color: rgba(1, 129, 63, 1);
    transition: 0.5s;
}

.social-media {
    width: 100%;
    height: 48px;
    display: grid;
    grid-template-columns: 1fr 1fr;
    grid-column-gap: 5px;
    margin-bottom: 30px;
}

.facebook-button {
    position: relative;
    height: 100%;
    border-radius: 3px;
    display: flex;
    align-items: center;
    justify-content: space-between;
    background-color: #305DB8;
    padding: 0 22px 0 17px;
    text-decoration: none;
    font-weight: 400;
    font-size: 14px;
    color: white;
    transition: 0.5s;
}

.facebook-button:hover {
    background-color: #022263;
    transition: 0.5s;
}

.google-button {
    position: relative;
    height: 100%;
    background-color: #DF4A32;
    border-radius: 3px;
    display: flex;
    align-items: center;
    justify-content: space-between;
    padding: 0 27px 0 12px;
    text-decoration: none;
    font-weight: 400;
    font-size: 14px;
    color: white;
    transition: 0.5s;
}

.google-button:hover {
    background-color: #AB1F09;
    transition: 0.5s;
}



.facebook-stripe {
    height: 28px;
    width: 1px;
    background-color: rgba(10, 22, 47, 1);
    opacity: 10%;
    position: absolute;
    left: 49px;
    top: 10px;
}
.google-stripe {
    position: absolute;
    left: 49px;
    top: 10px;
    height: 28px;
    width: 1px;
    background-color: #2B0D09;
    opacity: 10%;
}

.divider {
    display: flex;
    align-items: center;
    justify-content: space-between;
}

.divider-stripe {
    width: 152px;
    height: 0;
    border: 1px solid #F2F2F2;
}
.divider-text {
    font-weight: 400;
    font-size: 14px;
    color: rgba(132, 132, 132, 1);
    margin-bottom: 17px;
}

form {
    display: flex;
    flex-direction: column;
    row-gap: 16px;
    width: 100%;
}

.form-input {
    width: 100%;
    height: 44px;
    border: 1px solid rgba(242, 242, 242, 1);
    border-radius: 5px;
    color: #434343;
    padding-left: 20px;
}

.form-input::placeholder {
    font-weight: 400;
    font-size: 14px;
    color: rgba(190, 190, 190, 1);
}

.form-input:focus-visible {
    outline: 1px solid transparent;
    box-shadow: 0 2px 10px rgba(0, 0, 0, 0.52)
}

.form-button {
    background-color: rgba(60, 184, 120, 0.8);
    border-radius: 4px;
    border: 0;
    height: 46px;
    font-weight: 400;
    font-size: 16px;
    color: white;
    transition: 0.5s;
}

.form-button:hover {
    background-color: #01813F;
    transition: 0.5s;
    cursor: pointer;
}

.form-control {
    font-weight: 400;
    font-size: 14px;
    color: rgba(67, 67, 67, 1);
    /*padding: 20px;*/
    padding-left: 30px;
}

.form-control>a {
    text-decoration: none;
    color: rgba(60, 184, 120, 1);

}

.form-control>a:hover {
    color: rgba(1, 129, 63, 1);
    text-decoration: underline;
}
.checkbox-wrapper {
    position: relative;
}
.checkbox-frame {
    position: absolute;
    left: 0;
    top: 0;
    width: 20px;
    height: 20px;
    background-color: white;
    border: 1px solid #F2F2F2;
}
.checkbox-text {
    display: none;
}
.checkbox-frame>svg {
    position: absolute;
    top: 1px;
    left: 1px;
    opacity: 0;
}

.checkbox-text:checked ~ .checkbox-frame svg {
    opacity: 1;
}